<div class="product-card product-card__placeholder block">
  <div class="product-card__image relative overflow-hidden block js-images has-one">
    <div class="js-product-image front active img relative" data-variant-color="sterling">
      <div class="fill placeholder-bar">&nbsp;</div>
    </div>
  </div>
  <div class="product-card__content flex aic">
    <div class="product-card__detail w1">
      <div class="product-card__title placeholder-bar">
        &nbsp;
      </div>
      <div class="product-card__title placeholder-bar">
        &nbsp;
      </div>
      <div class="product-card__swatches swatches w1 placeholder-bar">
        &nbsp;
      </div>
    </div>
  </div>
</div>
