.accordion summary {
  display: flex;
  align-items: center;
  position: relative;
  line-height: 1;
  padding: 2.5rem 0;
  gap: 2.5rem;
}

.accordion .summary__title {
  display: flex;
  flex: 1;
}

.accordion .summary__title + .icon-caret {
  height: calc(var(--font-heading-scale) * 0.6rem);
}

.accordion + .accordion {
  border-top: none;
}

.accordion {
  margin-bottom: 0;
  border-top: 0.1rem solid var(--color-grey-4);
  border-bottom: 0.1rem solid var(--color-grey-4);
}

.accordion__title {
  display: inline-block;
  max-width: calc(100% - 6rem);
  min-height: 1.6rem;
  margin: 0;
  word-break: break-word;
}

.accordion .icon-accordion {
  align-self: center;
  fill: rgb(var(--color-foreground));
  height: calc(var(--font-heading-scale) * 2rem);
  margin-right: calc(var(--font-heading-scale) * 1rem);
  width: calc(var(--font-heading-scale) * 2rem);
}

.accordion details[open] > summary .icon-caret {
  transform: rotate(180deg);
}

.accordion__content {
  margin-bottom: 1.5rem;
  word-break: break-word;
  overflow-x: auto;
  padding: 0 0.6rem;
}

.accordion__content img {
  max-width: 100%;
}

.accordion summary .icon {
  width: 1rem;
  transition: transform var(--duration-default);
}

.accordion details[open] summary .icon {
  transform: rotate(45deg);
}

.accordion__content p:first-child {
  margin-top: 0;
}

@media screen and (min-width: 750px) {
  .accordion summary {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .accordion__content ul li {
    margin-top: 1rem;
  }
}
