.image-with-text {
  color: var(--section-text-color);
  background-color: var(--section-background-color);
}

.how-works__top {
  color: var(--section-top-color);
}

.how-works__inner {
  padding-top: 4rem;
  padding-bottom: 5rem;
}

.how-works__top-content {
  padding: 4rem 2rem;
}

.how-works__top-content::before,
.how-works__top-content::after {
  content: '';
  display: block;
  width: 0.1rem;
  height: 5rem;
  position: absolute;
}

.how-works__top-content::before {
  bottom: 0;
  background: var(--color-white);
}

.how-works__top-content::after {
  top: 100%;
  background: var(--color-black);
}

.how-works__bottom-title {
  margin-top: 6.5rem;
}

.how-works__bottom-items {
  gap: 2.5rem;
  margin-top: 1.5rem;
}

.how-works__bottom-actions {
  margin-top: 3.5rem;
  --button-padding: 1.9rem 2rem;
}

@media screen and (min-width: 750px) {
  .how-works__inner {
    padding-top: 9.7rem;
    padding-bottom: 9.5rem;
  }

  .how-works__top-subtitle {
    max-width: 67.5rem;
  }

  .how-works__bottom-title {
    margin-top: 7.5rem;
  }

  .how-works__bottom-items {
    flex-direction: row;
    margin-top: 2.5rem;
    gap: 3rem;
  }

  .how-works__bottom-item {
    width: calc((100% - 6rem) / 3);
    max-width: 33rem;
  }

  .how-works__bottom-actions {
    margin-top: 3.8rem;
    --button-padding: 1.9rem 4rem;
  }
}
